@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trbhi Store</h1>
    <p class="lead">Shopping makes happy.</p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
</div>