
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmation</h2>

<p style="align-content:center"> <h3>You Order has been placed. Thanks for Shopping with us.</h3> </p>

